#ultimosBilletes{
    font: arial;
    font-size: medium;
    color: red;
}

#seccionBotones{
    width: 100%;
}

#seccionBotones2{
    width: 100%;
}


.content-input input[type=radio]:checked + i:before{
	background-color: aqua;
    color: aqua;
}